// InputBoxDialog.rc

#include "InputBoxDialog.h"

IDD_INPUT_BOX_DIALOG DIALOG DISCARDABLE 0, 0, 161, 52
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Input Box"
FONT 10, "Tahoma"
BEGIN
	LTEXT "Input Some Text:", IDC_TITLE, 5, 5, 150, 10
	EDITTEXT IDC_EDITTEXT, 5, 18, 150, 12
	DEFPUSHBUTTON "&OK", IDOK, 90, 35, 30, 12
	PUSHBUTTON "&Cancel",IDCANCEL, 125, 35, 30, 12
END
